<section class="container m-5 border-bottom resume-section border-bottom" id="skill">
    <div class="resume-section-content">
        <h2>Skills</h2>
        <div class="subheading">Programming Languages & Tools</div>
        <ul class="list-inline mb-5" style="font-size: 3rem; color: rgb(108, 117, 125)">
            <li class="list-inline-item"><i class="fa-brands fa-html5"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-square-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-angular"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-react"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-sass"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-less"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-gulp"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-grunt"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-npm"></i></li>
        </ul>
        <div class="subheading">Workflow</div>
        <ul style="list-style: none;">
            <li><i class="fa fa-check"></i> Mobile-First, Responsive Design</li>
            <li><i class="fa fa-check"></i> Cross Browser Testing & Debugging</li>
            <li><i class="fa fa-check"></i> Cross Functional Teams</li>
            <li><i class="fa fa-check"></i> Agile Development & Scrum</li>
        </ul>
    </div>
</section>