<div class="container py-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-light">My wallet</h1>
        <p style="color: yellow; font-size: 24px">$@amount</p>
        <p class="text-light">Total balance</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId"
                    @onclick='() => ShowDetailChild("Deposit")'>Deposit</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalId"
                    @onclick='() => ShowDetailChild("Withdraw")'>Withdraw</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public decimal amount { get; set; }
    [Parameter]
    public EventCallback<WalletVm> showModal { get; set; }

    public void ShowDetailChild(string type)
    {
        var newItem = new WalletVm();
        newItem.Type = type;
        showModal.InvokeAsync(newItem);
    }

    protected override async Task OnInitializedAsync()
    {
        //Khi trang vừa load xong thì gọi api để lấy dữ liệu từ server map vào prodDetail
    }

 

    protected override async Task OnParametersSetAsync()
    {
        //Kích hoạt khi các thuộc tính [Parameter thay đổi]
        
    }

}