@inject WalletService _walletService
@implements IDisposable

<div class="py-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-light">My wallet</h1>
        <p style="color: yellow; font-size: 24px">$@_walletService.modalItem.Amount</p>
        <p class="text-light">Total balance</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary me-5 rounded-cirle" data-bs-toggle="modal" data-bs-target="#modalId"
                    @onclick='async () => await _walletService.ShowModal(_walletService.modalItem, "Deposit")'>Deposit</button>
            <button type="button" class="btn btn-danger rounded-cirle" data-bs-toggle="modal" data-bs-target="#modalId"
                    @onclick='async () => await _walletService.ShowModal(_walletService.modalItem, "Withdraw")'>Withdraw</button>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Gọi API ở đây nếu cần
        // var data = await Http.GetFromJsonAsync<T>("/api/endpoint");

        // Nếu có dùng state service:
        _walletService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Cleanup nếu cần
        _walletService.OnChange -= StateHasChanged;
    }

}