@page "/wallet"
@inject WalletService _walletService
@implements IDisposable

<div class="bg-dark h-100">
    <div class="container">
        <ModalTransaction />

        <InteractionZone />

        <TransactionHist />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Gọi API ở đây nếu cần
        // var data = await Http.GetFromJsonAsync<T>("/api/endpoint");

        // Nếu có dùng state service:
        _walletService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Cleanup nếu cần
        _walletService.OnChange -= StateHasChanged;
    }
}