@inject WalletService _walletService
@implements IDisposable

@{
    var item = _walletService.modalItem;
}

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    @item.Type Money
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <EditForm Model="item" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
    
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="amount">Amount</label>
                        <InputNumber id="amount" class="form-control" @bind-Value="Amount" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" onclick="closeModal()">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );

    function closeModal() {
        document.getElementById("closeModalBtn").click();
    }
</script>

@code {
    decimal Amount { get; set; } = 0.0m;

    private async void HandleValidSubmit()
    {
        var item = _walletService.modalItem;

        // Xử lý submit ở đây
        if (item.Type == "Deposit")
        {
            await _walletService.AdjustAmount(item, Amount);
            await _walletService.AddToHist(item);
        }
        if (item.Type == "Withdraw" && Amount <= item.Amount)
        {
            await _walletService.AdjustAmount(item, -Amount);
            await _walletService.AddToHist(item);
        }

        Amount = 0.0m;
    }

    protected override async Task OnInitializedAsync()
    {
        // Gọi API ở đây nếu cần
        // var data = await Http.GetFromJsonAsync<T>("/api/endpoint");

        // Nếu có dùng state service:
        _walletService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Cleanup nếu cần
        _walletService.OnChange -= StateHasChanged;
    }

}