<div class="pb-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-light">Transaction History</h2>
    <div class="border rounded-3 overflow-hidden w-100">
        <table class="table table-bordered mb-0">
            @foreach (var item in hist)
            {
                var bgColor = "background-color: " + (item.Type == "Deposit" ? "#d0e6dc" : "#f7d6d9");
                <tr style="@bgColor">
                    <td>@item.Type</td>
                    <td>$@item.Amount</td>
                    <td>@item.TransactionDate</td>
                </tr>
            }
        </table>

    </div>
</div>

@code {
    [Parameter]
    public List<WalletVm> hist { get; set; }
}